Source: xtoolwait
Section: x11
Priority: optional
Maintainer: Dwayne C. Litzenberger <dlitz@dlitz.net>
Build-Depends: debhelper (>> 7.0.0), cdbs (>= 0.4.53), x11proto-core-dev, libx11-dev, libxext-dev, xutils-dev
Standards-Version: 3.8.4.0
Homepage: http://www.dlitz.net/software/xtoolwait/

Package: xtoolwait
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Allows to start X applications serially
 Xtoolwait notably decreases the startup time of your X sessions,
 provided that you start a number of X clients automatically during the
 X session startup.  Xtoolwait starts one X client in the background,
 waits until it has mapped a window and then exits.
 .
 Author: Richard Huveneers <richard@hacom.nl>
